@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poltawski+Nowy:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


:root{
  --darkBlue:#141E46;
  --offwhite:#EEEEEE;
  --offwhite01:#f0f0f0;
  --black08:#040D12;
  --blue05:#313866;
  --bangani:#5C5470;
  --lightRed:#FF6969;
  --offblue:#279EFF;
  --darkblue01:#0c1627;
  --grey:#999ba0;
  --purple:#27005D;
  --orange:#F28C28;
  --skillstab:#070f1e;
  --blue05hover:#212752;
  --purplehover: rgba(39, 0, 93,0.75);

  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --font-nowy:'Poltawski Nowy',serif;
  --font-acme:'Acme', sans-serif;
  --font-neuton: 'Neuton', serif;
  --font-yatra:'Yatra One', cursive;
  --font-open-sans:'Open Sans', sans-serif;

}

/* Navbar */
body{
  background-color: var(--darkblue01);
  cursor: url("./img/cursor.png"),default;
  scroll-behavior: smooth;
}

.NavbarMain{
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111111;
}

.Navtitle{
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-family: var(--font-yatra);
  color: var(--offwhite);
  margin-left: 1rem;
  cursor: url("./img/cursor.png");;
}

.socialIcons{
  margin-right: 0.5rem;
}

.socialIcons > svg {
  margin-right: 3px;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.socialIcons > svg:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .socialIcons{
    display: none;
  }
}


/* FirstTAb */

.container{
  width: 100%;
}

.half-container{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.justify-left{
  width: 70vw;
}

@media only screen and (max-width: 600px) {
  .justify-left{
    width: 100vw;
    padding-inline: 1rem;
  }
}

.firstTab{
  width: 100%;
  margin-inline:auto;
  min-height: 550px;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--darkblue01);
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: row;
  gap: 10px;
  grid-template-areas: 
  "name"
  "desc";
}

.ram{
  height: fit-content;
  font-size: var(--font-size-md);
  margin: 0;
  padding: 0;
  flex: 1 0 1%;
  color: var(--orange);
  font-family: var(--font-yatra);
  font-weight: 300;
}

.ram::before{
  content: "🙏";
}

.Name{
  grid-area: name;
  width: 100%;
  height: 100px;
  font-size: var(--font-size-xxxl);
  font-family: var(--font-acme);
  display: flex;
  justify-content: flex-start;
  color: var(--offwhite01);
  margin: 10rem 0 0 0;
  cursor: url("./img/cursor.png");;
  flex-wrap: wrap;
}

.myname{
  font-family: var(--font-yatra);
  color: transparent;
  flex: 1 0 99%;
  height: max-content;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab,var(--orange),var(--lightRed) ,#ee7752, #e73c7e);
  background-size: 500%;
  background-clip: text;
	animation: gradient 7s ease infinite;
}

.Description{
  grid-area: desc;
  display: flex;
  justify-content: flex-start;
  color: var(--bangani);
  font-size: var(--font-size-lg);
  font-weight: bold;
  font-family: var(--font-open-sans);
  word-wrap: break-word;
  flex-wrap: wrap;
  margin: 3rem 0 0 0;
  cursor: url("./img/cursor.png");
}

.desc{
  flex: 0 1 780px;
  letter-spacing: 1px;
}

.contactbtn-div{
  margin: 4rem 0 0 0;
}
.contactbtn{
  width: 150px;
  height: 40px;
  font-size: var(--font-size-base);
  border: none;
  border-radius: 5px;
  background-color: var(--blue05);
  color: var(--offwhite01);
  font-family: var(--font-open-sans);
  transition: all 250ms linear;
  z-index: 11;
  position: relative;
}

.contactbtn::before{
  content: "";
  width: 100%;
  opacity: 0.5;
  height: 100%;
  background-color: var(--blue05);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 5px;
  transform: translate(6px,6px);
  transition: all 250ms linear;
}

.contactbtn:hover::before{
  transform: translate(9px,9px);
}

.contactbtn:hover{
  transform: translate(-3px,-3px);
}

.contactbtn:active::before{
  transform: translate(2px,2px);
}

.contactbtn:active{
  transform: translate(6px,6px);
}

@media only screen and (max-width: 600px) {
  .Description{
    transform: translateY(-2rem);
  }

  .myname{
    font-size: var(--font-size-xxl);
  }
}


/* Language Slide */

.Language-container{
  grid-area: content; 
  width: 100%;
  height: auto;
  overflow-x: scroll;
}

 .Language-container::-webkit-scrollbar{
  display: none;
}


.FirstSlide{
  display: inline-block;
  width: 120%;
}

.SecondSlide{
  display: inline-block;
  width: 120%;
}

.FirstSlide > ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: var(--offwhite01);
  font-size: var(--font-size-md);
  transform: translateX(-20px);
  font-family: var(--font-neuton);
  animation: slide 10s infinite linear;
  gap: 10px;
}

.FirstSlide ul li{
  flex: 0 0 200px;
  background-color: var(--blue05);
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: url("./img/cursor.png");;
  box-shadow: rgba(9, 9, 10, 0.2) 0px 7px 29px 0px;
  transition: 250ms ease-in-out;
}

.FirstSlide > ul > li:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--blue05hover);
}

.justScrollIcon{
  display: flex;
  justify-content: center;
  filter: invert(1);
}


.SecondSlide > ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: var(--offwhite01);
  font-size: var(--font-size-md);
  transform: translateX(-20px);
  font-family: var(--font-neuton);
  animation: slide 10s infinite linear;
  gap: 10px;
  text-transform: uppercase;
}

.SecondSlide ul li{
  flex: 0 0 300px;
  background-color: var(--blue05);
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: url("./img/cursor.png");;
  box-shadow: rgba(9, 9, 10, 0.2) 0px 7px 29px 0px;
  transition: 250ms ease-in-out;
}

.SecondSlide > ul > li:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--blue05hover);
}

/* About me */

.base-container{
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

.base-title{
  padding: 0 0 0 20px;
  font-size: var(--font-size-xl);
  color: var(--offwhite01);
  font-family: var(--font-yatra);
  position: relative;
  cursor: url("./img/cursor.png");;
}

.justify-left-base{
  width: 70vw;
  border-left: 2px solid var(--offwhite);
}

.base-title ul li{
  width: fit-content;
  height: max-content;
}

.base-title ul li::before{
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--offwhite01);
  position: absolute;
  top: 43%;
  left: 0;
}



.aboutme-desc{
  width: 70%;
  padding: 0 0 0 20px;
  color: var(--offwhite01);
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  display: flex;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .justify-left-base{
    width: 100vw;
    padding-inline: 1rem;
    border: none;
  }
  .base-title ul li::before{
    content: "";
    width: 70px;
    height: 2px;
    position: absolute;
    top: initial;
    left: 0;
    bottom: 0;
    transform: none;
    transition: all 250ms linear;
  }

  .base-title ul li:hover::before{
    width: 120px;
  }
  .base-title ul{
    padding: 0;
  }
  .base-title{
    padding: 0;
  }
  .base-title ul li{
    list-style-type: none;
  }

  .aboutme-desc{
    width: 90%;
  }

  
}

/* Skills */

.showSkills{
  width: 90%;
  padding: 0 0 0 20px;
  color: var(--offwhite01);
  margin: 0 0 7rem 0;
}

.showSkills-title{
  width: inherit;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-md);
  font-family: var(--font-yatra);
  position: relative;
}

.showSkills-title::before{
  content: ">_ ";
  font-family: var(--font-yatra);
  color: var(--offblue);
  letter-spacing: -3px;
  transform: translate(-10px,3px);
}

.showSkills-title::after{
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--offwhite01);
  transform: translateX(-20px);
}

.skillsName-container{
  width: 100%;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: url("./img/cursor.png");;
}

.skillsName-Tab{
  flex: 0 1 300px;
  height: 60px;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 1rem 1rem 0 0;
  padding: 30px;
  background-color: var(--blue05);
  border-radius: 5px;
  box-shadow: rgba(5, 5, 22, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  transition: transform 250ms linear;
}

.skillsName-Tab::before{
  content: "";
  width: 30%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);	
  background: linear-gradient(-45deg, #23a6d5, #23d5ab,var(--orange),var(--lightRed) ,#ee7752, #e73c7e);
  background-size: 400px 400px;
	animation: gradient 5s ease infinite;
  transition: width 250ms linear;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.skillsName-Tab:hover::before{
  width: 100%;
}

.skillsName-Tab:hover{
  transform: translate(-5px,-10px);
  background-color: var(--blue05hover);
  color: #fff;
}

.skilltitle{
  font-size: var(--font-size-md);
  font-family: var(--font-open-sans);
  letter-spacing: 3px;
  font-weight: bold;
}

.skilltag{
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
  letter-spacing: 1px;
  color: var(--grey);
  transform: translateY(-5px);
}

@media only screen and (max-width: 600px) {
  .showSkills{
    padding: 0 0 0 20px;
  }
}

/* Footer  */

.footer-container{
  width: 100vw;
  height: 40vh;
  background-color: var(--black08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tagline{
  font-size: var(--font-size-xl);
  color: var(--grey);
  font-family: var(--font-open-sans);
  font-weight: 500;
  margin: 1rem 0 0 0;
  text-align: center;
}

.footer-copyright{
  font-size: var(--font-size-base);
  font-family: var(--font-nowy);
  color: var(--offwhite);
  margin: auto 0 1rem 0;
}

.footer-socialIcons{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto 0 0 0;
  perspective: 1000px;
}

.footer-socialIcons a{
  width: 50px;
  height: 50px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.7;
  margin: 0 2vw 0 0;
  transition: all 250ms linear;
  text-decoration: none;
  box-shadow: rgba(5, 5, 22, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.footer-socialIcons a svg{
  transition: all 250ms linear;
  transform: translateY(0px) translateZ(2rem);
}

.footer-socialIcons a:hover{
  scale: 1.1;
  rotate: x 15deg;
}

.footer-socialIcons a:hover svg{
  transform: translateY(-1.3rem) translateZ(10px);
  rotate: x -15deg;
}

